@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700');
/* font-family: 'Montserrat', sans-serif; */

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: #f8fafe;
}

.bg-light {
    background-color: #ffffff!important;
}

.list-group-flush .list-group-item {
    font-weight: 500;
    color: #7d7572;
}

a.bg-light, button.bg-light, .btn-selector {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

a.bg-light:focus, a.bg-light:hover, button.bg-light:focus, button.bg-light:hover {
    background-color: #fbfbfb!important;
    color: #1b64a9;
    border-inline-style: solid;
    border-left: 5px solid #1b64a9;
}

.list-group-item {
    border: 1px solid #ebedf1;
}

.border-right {
    border-right: 1px solid #ebedf1!important;
}

.border-bottom {
    border-bottom: 1px solid #ebedf1!important;
}

.navbar {
    padding: 9.7px 1rem;
    background-color: #1c65a9!important;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 500;
}

.btn-bars {
    color: #fff;
    padding: 0;
    font-size: 20px;
}

.btn-bars:hover {
    color: #87bae8;
    text-decoration: none;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}

h1.title {
    font-size: 24px;
    color: #1c65a9;
}

.btn-selector {
    display: block;
    width: 100%;
    height: 82px;
    text-indent: 0;
    font-size: 30px;
    color: #9f9ea3;
    font-weight: 500;
    border-radius: 4px;
    line-height: 80px;
    padding-left: 20px;
    text-decoration: none;
}

.btn-selector:hover {
    background-position: 0 0;
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    text-decoration: none;
    color: #ffffff;
}

.btn-selector.dia {
    background: url('../images/dia-normal.png');
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
}

.btn-selector.dia:hover {
    background: url('../images/dia-active.png');
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
}

.btn-selector.el2s {
    background: url('../images/el2s-normal.png');
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
}

.btn-selector.el2s:hover {
    background: url('../images/el2s-active.png');
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
}

.btn-selector.dia.active {
    background: url('../images/dia-active.png');
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    color: #ffffff;
}

.btn-selector.el2s.active {
    background: url('../images/el2s-active.png');
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    color: #ffffff;
}

.card-body {
    padding: 1rem 1rem 0.2rem;
}

.card {
    border: 1px solid transparent;
    border-radius: 2px;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(220,226,239,.50)!important;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    color: #7d7572;
    font-size: 14px;
    font-weight: 500;
}

.card-header {
    padding: .75rem 1.25rem;
    background-color: #ffffff;
    border-bottom: 1px solid #dce2ef;
    font-size: 16px;
    font-weight: 500;
    color: #4b4a49;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .350rem .75rem;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    color: #2b2b2b;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dce2ef;
    border-radius: 2px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #cfd6e5!important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #cfd6e5!important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #cfd6e5!important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #cfd6e5!important;
}

.form-control:focus {
    color: #2b2b2b;
    background-color: #fff;
    border-color: #cfd5e4;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(235, 238, 246, 0.73);
}

.btn-clear {
    color: #9f9ea3;
    background-color: #e8ecf5;
    border-color: #e8ecf5;
}

.btn-clear:hover {
    color: #9f9ea3;
    background-color: #d4d8e0;
    border-color: #e8ecf5;
}

.btn-calculate {
    color: #393939;
    background-color: #fdc82f;
    border-color: #fdc82f;
}

.btn-calculate:hover, .btn-calculate:active {
    color: #393939;
    background-color: #ecbb27;
    border-color: #fdc82f;
}

.btn-clear, .btn-calculate {
    font-weight: 500;
    font-size: 16px;
    border-radius: 2px;
    padding: 10px 50px;
    margin-right: 10px;
}

/* Login */

.bg-dark {
    background-color: #f8fafe!important;
}

.bg-golddata {
    background: url('../images/bg-golddata.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}

.shadow.dark {
    box-shadow: 0 .5rem 1rem rgba(31,32,32,.20)!important;
}

.results h3 {
    color: #1b64a9;
    font-size: 16px;
    letter-spacing: -0.2px;
}

.results h2 {
    color: #4b4a49;
    letter-spacing: -0.2px;
    font-weight: 600;
}

.results h2 span {
    font-size: 22px;
    position: relative;
    left: -5px;
}

.card-header span {
    font-weight: 300;
    font-size: 14px;
    color: #9f9ea3;
}

.mt-100 {
    margin-top: 120px;
}

.typewrite {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    font-weight: 600;
}

.typewrite:hover {
    color: #ffffff;
    text-decoration: none;
}

.typewrite > .wrap:after { 
  content: '';
  margin-left: 2px;
  border-right: 0.08em solid #fdc82f!important;
    
  animation-name: wrap;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name: wrap;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes wrap{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes wrap {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes wrap {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.solicitud {
    color: #a7a7a7;
    text-decoration: none;
    background-color: transparent;
}

.solicitud:hover {
    color: #0056b3;
    text-decoration: none;
}

@media (max-width: 1366px) {
    .btn-selector {
        display: block;
        width: 100%;
        height: 82px;
        text-indent: 0;
        font-size: 20px;
        color: #9f9ea3;
        font-weight: 500;
        border-radius: 4px;
        line-height: 26px;
        padding-right: 110px;
        padding-left: 20px;
        padding-top: 15px;
        text-decoration: none;
        margin-bottom: 20px;
    }

    .results .float-right {
        float: left!important;
        margin-top: 10px;
    }

    .bg-golddata {
        height: auto;
        padding-bottom: 100px;
    }

    .mt-100 {
        margin-top: 40px;
    }

    .card-login {
        margin-top: 20px;
    }
}

/* Video */
body.wlogin {
    position: relative;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
  
body.wlogin video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
  
body.wlogin .container {
    position: relative;
    z-index: 2;
}
  
body.wlogin .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 1;
}
  
@media (pointer: coarse) and (hover: none) {
    body.wlogin video {
      display: none;
    }
}
